@import "../../vendor/fonts/fonts.css";

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0;
  min-width: 64px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 8px;
  color: #1976d2;
  text-decoration: none;
  user-select: none;
  overflow: hidden;
}
.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  top: var(--mouse-y);
  left: var(--mouse-x);
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 100%;
  background: rgba(25, 118, 210, 0.3);
  transition: width 0.3s ease, height 0.3s ease;
}

.button:hover {
  background: rgba(25, 118, 210, 0.04);
}
.button:active:after {
  width: 300px;
  height: 300px;
  width: var(--data-Value);
  height: var(--data-Value);
}

.contained {
  padding: 6px 16px;
  color: #fff;
  background-color: #1976d2;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.contained:hover {
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.outlined {
  padding: 5px 15px;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
}
.outlined:hover {
  background-color: rgba(25, 118, 210, 0.04);
  border: 1px solid #1976d2;
}

.disabled {
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
  pointer-events: none;
}

.disabled_type_contained {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}

.disabled_type_outlined {
  background-color: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}

.secondary {
  color: #9c27b0;
}

.secondary:hover {
  background-color: rgba(156, 39, 176, 0.04);
}

.success {
  color: #fff;
  background-color: #2e7d32;
}

.success:hover {
  background-color: #1b5e20;
}

.error {
  border: 1px solid rgba(211, 47, 47, 0.5);
  color: #d32f2f;
}

.error:hover {
  background-color: rgba(211, 47, 47, 0.04);
  border: 1px solid #d32f2f;
}

.small {
  font-size: 0.8125rem;
  padding: 4px 10px;
  margin: 8px;
  border: 1px solid transparent;
}

.medium {
  padding: 6px 16px;
  margin: 8px;
}

.large {
  font-size: 0.9375rem;
  padding: 8px 22px;
  margin: 8px;
}
