/* Outlined */
.input {
  display: inline-block;
  position: relative;
  user-select: none;
}

.input input {
  border: 1px solid rgba(0, 0, 0, 0.26);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 16.5px 14px;
  border-radius: 4px;
  outline: 0;
  appearance: none;
}
.input input:hover {
  border: 1px solid rgba(0, 0, 0, 0.87);
}
.input .placeholder {
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 16.5px 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.6);
  transition: top 0.3s linear, color 0.3s linear, font-size 0.1s linear;
  cursor: text;
}

.input input + .placeholder {
  left: 0;
}
.input input.dirty + .placeholder,
.input input:focus + .placeholder,
.input input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  left: 14px;
  width: max-content;
  color: #1976d2;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  padding: 0 3px 0 2px;
}

.input input:focus {
  border: 2px solid #1976d2;
}

.input input:not(:placeholder-shown) + .placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input input:focus + .placeholder {
  color: #1976d2;
}

/* Filled */
.input.filled input {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 4px 4px 0 0;
  border: 1px solid transparent;
}

.input.filled input.dirty + .placeholder,
.input.filled input:focus + .placeholder,
.input.filled input:not(:placeholder-shown) + .placeholder {
  top: 6px;
  left: 12px;
  width: auto;
  color: #1976d2;
  font-size: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.input.filled input {
  padding: 25px 12px 8px 12px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.input.filled input:not(:placeholder-shown) + .placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input.filled input:focus + .placeholder {
  color: #1976d2;
}

.input.filled input:focus {
  border-bottom: 2px solid #1976d2;
}

.input.filled .placeholder {
  border-radius: 4px 4px 0 0;
}

.input.filled .placeholder:hover {
  background-color: rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

/* Standard */

.input.standard input {
  border-radius: 0;
  border: none;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  padding: 25px 0 0 0;
}

.input.standard input:hover {
  border-bottom: 2px solid #1976d2;
}

.input.standard .placeholder {
  padding: 0;
  bottom: 14px;
}

.input.standard input.dirty + .placeholder,
.input.standard input:focus + .placeholder,
.input.standard input:not(:placeholder-shown) + .placeholder {
  top: -5px;
  left: 0px;
  width: auto;
  color: #1976d2;
  font-size: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.input.standard input:not(:placeholder-shown) + .placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input.standard input:focus + .placeholder {
  color: #1976d2;
}

.input.standard input:focus {
  border-bottom: 2px solid #1976d2;
}
