@import "./vendor/fonts/fonts.css";

.element {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.element__title {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #1a2027;
  margin: 20px 0 0 0;
}

.element__text {
  max-width: 800px;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
.element__container {
  display: grid;
  max-width: 800px;
  justify-content: center;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e7ebf0;
  border-radius: 10px;
  border-left-width: 1px;
  border-right-width: 1px;
  grid-template-columns: repeat(3, minmax(64px, auto));
  grid-column-gap: 16px;
}

.element__container_flex {
  display: flex;
  grid-column-gap: 0;
}

.element__container_size {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element__container_label {
  grid-template-columns: repeat(1, minmax(64px, auto));
}
